@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-image: url(assets/background.jpg);
}

#seleccionar-mascota {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  color: white;
  font-size: 45px;
  font-family: 'Fredoka One', cursive;
}

.subtitulo {
  color: white;
  font-size: 20px;
}

.tarjetas, .tarjetas-ataques {
  display: flex;
  gap: 10px;
}

.tarjeta-de-mokepon {
  width: 200px;
  height: 120px;
  background: #b74040;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.tarjeta-de-mokepon img {
  width: 100px;
}

#boton-mascota {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-top: 30px;
}

input {
  display: none;
}

input:checked + label {
  background-color:rgb(133, 44, 44);
}


#seleccionar-ataque {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boton-de-ataque {
  background-color: #b74040;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 20px;
  border-color: transparent;
  width: 100px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

#mensajes {
  width: 280px;
  background: #b74040;
  padding: 20px;
  margin-top: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#boton-reiniciar {
  border: none;
  color: #b74040;
  font-family: 'Poppins', sans-serif;
}

.ataques {
  display: grid;
  grid-template-columns: 100px 100px;
margin-bottom: 0;
}


.ataques-jugador, .ataques-enemigo{
 display: flex;
 flex-direction: column;
 align-items: center;
 color: white;
 font-family: 'Poppins', sans-serif;

}

#ver-mapa {
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#ver-mapa button{
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background: transparent;
  border: 2px solid white;
  color: white;
  font-family: 'Poppins', sans-serif;
  margin: 2px;
}

#mapa{
  border: 1px solid gray;
}


@media (max-width: 800px){
  .tarjetas, .tarjetas-ataques{
    flex-direction: column;
  }
  
}

@media (max-width: 300px){
  #ver-mapa div{
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  
  
}